:root {
  // Base color
  --color-white: #ffffff;
  --color-black: #000000;

  // Template base colors
  --color-accent: #0ebd7c;
  --color-accent-alt: #08c880;
  --color-gray: #f5f4f9;
  --color-gray-light: #eaf5f1;
  --color-blue-vk: #4d76a1;
  --color-blue-fb: #3b5998;
  --color-orange-insta: #ffddbe;
  --color-dark-blue: #3a28b1;
  --color-light: #eeecf7;
  --color-black-alt: #121212;
}
